<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="tabelamedinfo.css" />
  <title>Consulta Fácil</title>
</head>
<body>

  <header>
    <div class="logo">
      <h2>VITTA</h2>
    </div>
  </header>

  <main class="conteudo-principal">
    <div class="card-medico">
      <div class="info-medico">
        <img src="https://via.placeholder.com/80" alt="Foto do Médico" />
        <div>
          <h2>Dr. Marcos Elvecio Batista</h2>
          <p>Nutrologia CRM 46984</p>
          <p>Clínica: Allure Medicina & Bem Estar</p>
          <p>Endereço: Avenida República Argentina, 665 - Curitiba/PR</p>
          <p class="valor">R$ 134,00 em até 3x</p>
        </div>
      </div>

      <div class="horarios-container">
        <div class="horario-coluna">
          <h3>Sex<br>09/05</h3>
          <div class="horarios">
            <button>08:40</button>
            <button>09:00</button>
            <button>09:20</button>
            <button>09:40</button>
          </div>
        </div>
        <div class="horario-coluna">
          <h3>Sáb<br>10/05</h3>
          <div class="horarios">
            <button>08:00</button>
            <button>08:25</button>
            <button>08:50</button>
            <button>10:05</button>
          </div>
        </div>
        <div class="horario-coluna">
          <h3>Seg<br>12/05</h3>
          <div class="horarios">
            <button>08:00</button>
            <button>08:20</button>
            <button>08:40</button>
            <button>09:00</button>
          </div>
        </div>
        <div class="horario-coluna">
          <h3>Ter<br>13/05</h3>
          <div class="horarios">
            <button>08:00</button>
            <button>08:20</button>
            <button>08:40</button>
            <button>09:00</button>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
